* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

.main-container {
 width: 100%;
 display: flex;
justify-content: center;
align-self: center;
color: #fff; 
/* background-color: #494949; */
}

.main-content {
 margin: 2rem;
}

.wrapper {
 padding: 1.5rem;
 width: 1200px;
 height: 100vh;
 background-color: #494949;
 position: relative;
}

.navbar {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.navbar img {
 width: 80px;
}

.nav-items{
 display: flex;
}

.list-item {
 margin: 2.5rem;
}

.list-item li {
 margin: 1rem;
 font-size: 1.5rem;
 
}

.nav-items li {
 padding: 1rem;
 list-style: none;
 font-size: 1.5rem;
 cursor: pointer;
}

.footer {
 margin-bottom: 1.5rem;
 bottom: 0;
 position: absolute;
 width: 100%;
 text-align: center;
}